.topright{
   
    float: right;
}

.main{
    width: 90%;
    align-items: center;
    margin: 10px auto;
    border: 1px solid goldenrod;
    padding: 10px;
    
}

.logo{
    
    padding: 10px;
    align-items: center;
    
}